<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
 body{
   background-image: url("../../images/kullanici2.gif");
   background-size: 95%;
   background-color: black;
   background-repeat: no-repeat;
 } 
 ul{
   list-style-type: none;
 }
 .text1{
   text-align: center;
 }
 .pic1{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 600px;
   height: 400px;
 }


</style>
<body >
  <nav class="navbar navbar-expand-sm navbar-light " style="background-color:#B22222">
    <a class="navbar-brand" href="/index" style="font-size:xx-large;color: white">RenChi</a>
    <div class="collapse navbar-collapse justify-content-end navbar-brand" id="navbarSupportedContent">
      <ul class="navbar-nav">
      <form action='./mekanlar' method='GET'>
         <li class="nav-item mr-6" style="top:100px">
          <a class="nav-link" href="./mekanlar" style="font-size:x-large;color:ghostwhite;right:0px" id="mekanlar">Mekanlar</a>
          </form>
         <form action='./logout' method='GET'>
         <li class="nav-item mr-6" style="top:100px">
          <a class="nav-link" href="./logout" style="font-size:x-large;color:ghostwhite;right:0px" id="logout">Çıkış yap</a>
          </form>
      </ul>
    </div>
  </nav>


  
<ul style="color:white;padding:20px;margin-left: 65px;font-family:sans-serif;">
    <li><h1><%=user.name%> <%=user.surname%></h1></li>
    <li><h1>Kullanıcı Adı: <%=user.username%></h1></li>
    <li><h1>Puan: <%=user.puan%></h1></li>
</ul>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>
